body{
    background-color: #E1D6C8;
    font-family: 'Source Serif Pro';
    margin: 0px;
    padding: 0px;
}

h1{
    color: #ffffff;
    background-position: 0px;
    background-size: cover;
    text-align: left;
    font-family: 'Poppins';
    font-size: 3em;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 60px;
    margin-top: 0px;
}

h2{
    color: #5B2828;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
}

h3{
    color: #240808;
    font-size: 25px;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    display: inline-flex;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 0px;
}

nav ul li a{
    color: #E1D6C8;
    background-color: #240808;
    padding-right: 20px;
    padding-left:20px;
    padding: 15px;
    margin-right: 15px;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

table{
    width: 100%;
}

td{
    padding: 15px;
    margin: 0px;
}

td ul li{
    font-size: 20px;
}

td h2{
    text-transform: uppercase;
}

td img{
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #5B2828;;
}

iframe{
    border-radius: 20px;
}

h2 a:hover, p a:hover{
    color: #ac8676;
    font-weight: bold;
}

.movieblock td img{
    height: 500px;
}

.classdescriptor{
    text-align: center;
    font-size: larger;
}

li{
    font-size: 20px;
}

nav ul li a:hover{
    background-color: #6d3434;  
}

.movieinfo{
    width: 300px;
}

.calloutbox{
    background-color: #5B2828a9;
    color: #ffffff;
    border-radius: 25px;
    text-transform: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.bignumber{
    font-family: 'Poppins';
    font-size: 5em;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    background-color: #240808;
    padding: 20px;
    margin: 20%;
    margin-top: 0%;
    background-color: #240808;
    text-align: center;
}

.roundedcorner{
    border-radius: 30px;
}

.movieblock{
    margin: 40px;
    margin-bottom: 60px;
    padding: 20px;
    background-color: #DACAB7;
    color: #240808;
    border-radius: 20px;
}

.painting{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.active{
    background-color: #8A5151;
    color: #240808;
}

.dynamiclayout h2, .staticlayout h2{
    background-color: #451f184c;
    color: #ffffff;
    border-radius: 20px;
    text-transform: none;
    padding: 15px
}

.dynamiclayout td{
    width: 45%;
    transition-duration: 1s;
}

.dynamiclayout td:hover{
    width: 55%;
    transition-duration:1s;
}

.homepageheading{
    color: #ffffff;
    background-image: url(BETTER\ HAMLET.png);
    background-position: 0px;
    padding-top: 500px;
    text-align: left;
}

.dynamiclayout, .staticlayout{
    background-color: #DACAB7;
    border-radius: 20px;
    margin: 40px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.script h3, .script h4{
    margin-left: 100px;
    margin-bottom: 10px;
}

.script h4{
    margin-top: 10px;
    margin-right: 150px;
    font-style: italic;
}

.script p{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    font-size: larger;
}

@font-face {
    font-family: 'Poppins';
    src: url(Poppins.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(Bold\ Poppins.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url(Italic\ Poppins.ttf);
    font-style:italic;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(SourceSerif4-Regular.ttf);
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(SourceSerif4-Italic.ttf);
    font-style:italic;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(SourceSerif4-Bold.ttf);
    font-weight: bold;
}